/* ======================================================================================== */

/* Estilização geral  */

* {
  margin: 0px; /*Margem externa das caixas*/
  padding: 0px; /*Margem interna das caixas*/
  box-sizing: border-box; /* Ajuste de padding das caixas sem a asoma com a largura*/
}

header {
  /* Imagem de fundo */
  position: fixed;
  width: 100%;
  height: 150px;
  background-image: url(../img/BKGIMGHorror3-Header.jpg);
  background-size: 100%;
  background-position-y: -350px;
  /* Texto */
  color: red;
  padding-top: 20px;
  text-align: center;
}

nav {
  padding-top: 125px;
  text-align: center;
  width: 100%;
  position: fixed;
}

nav ul {
  background: rgb(158, 157, 157);
}

nav ul li {
  display: inline-block;
  margin: 5px;
}

nav ul li a {
  padding: 5px;
  color: #fff;
  font-family: "Corbel";
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  cursor: pointer;
  transition: ease 0.3s;
  color: black;
}

main {
  padding-top: 180px;
  background-color: gainsboro;
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  background-color: gray;
  display: flex; /*Permitir com que o rodapé fique com o seu conteúdo flexível*/
  flex-direction: row; /*Dispor o conteúdo em linha*/
  /*Ajustar o conteúdo ao centro*/
  justify-content: center;
  align-items: center;
  height: 150px;
}

/* ======================================================================================== */

/* Definição das classes */
.titulos {
  font-family: "candara";
  font-size: 50pt;
}

.subtitulos {
  font-family: "candara light";
  font-size: 30pt;
  text-align: center;
}

.textos {
  font-family: "corbel";
  font-size: 14pt;
  text-align: justify;
  margin: 20px;
}

/* ======================================================================================== */

/* Início da formatação home */

/* Fim da formatação home */

/* ======================================================================================== */

/* Início da formatação história */

.carousel-inner > .carousel-item > img {
  /* width: 720px; */
  height: 520px;
  margin: auto;
}

/* Fim da formatação história */

/* ======================================================================================== */

/* Início da formatação signos1 */
/* Fim da formatação signos1 */

/* ======================================================================================== */

/* Início da formatação dúvidas */
/* Fim da formatação dúvidas */

/* ======================================================================================== */

/* Início da formatação sobre */
/* Fim da formatação sobre */

/* ======================================================================================== */
