/* ======================================================================================== */

/* Estilização geral  */

* {
  margin: 0px; /*Margem externa das caixas*/
  padding: 0px; /*Margem interna das caixas*/
  box-sizing: border-box; /* Ajuste de padding das caixas sem a asoma com a largura*/
}

header {
  /* Imagem de fundo */
  position: fixed;
  width: 100%;
  height: 150px;
  background-image: url(../img/BKGIMGHorror3-Header.jpg);
  background-size: 100%;
  background-position-y: -350px;
  /* Texto */
  color: red;
  padding-top: 27px;
  text-align: center;
}

nav {
  padding-top: 125px;
  text-align: center;
  width: 100%;
  position: fixed;
}

nav ul {
  background: rgb(158, 157, 157);
}

nav ul li {
  display: inline-block;
  margin: 5px;
}

nav ul li a {
  padding: 5px;
  color: #fff;
  font-family: "Bahnschrift";
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  cursor: pointer;
  transition: ease 0.3s;
  color: black;
}

main {
  padding-top: 180px;
  /* background-color: gainsboro; */
  background-color: black;
}

footer {
  background-color: gray;
  display: flex; /*Permitir com que o rodapé fique com o seu conteúdo flexível*/
  flex-direction: row; /*Dispor o conteúdo em linha*/
  /*Ajustar o conteúdo ao centro*/
  justify-content: center;
  align-items: center;
  height: 150px;
}

footer div {
  /*border: 1px solid indianred;*/
  margin: 10px;
}

#endereco {
  font-family: "arial black";
  font-size: 12pt;
  color: rgb(158, 46, 46);
  width: 500px;
  text-align: center;
}

#redes {
  position: absolute;
  right: 50px;
}
#redes ul {
  list-style: none; /*Retirar as bolinhas de marcação*/
}

/*Vamos dispor as imagens das redes em linha com display inline-block*/
#redes ul li {
  display: inline-block;
  margin: 10px;
}

/*Alterar comprimento e largura*/
#redes ul li a img {
  width: 40px;
  height: 40px;
}

/* ======================================================================================== */

/* Definição das classes */
.titulos {
  font-family: "impact";
  font-size: 50pt;
  text-align: center;
  color: red;
}

.subtitulos {
  font-family: "impact light";
  font-size: 40pt;
  text-align: center;
  color: rgb(182, 14, 14);
}

.textos {
  font-family: "Bahnschrift";
  font-size: 13pt;
  text-align: justify;
  font-weight: light;
  color: rgb(221, 216, 216);
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

/* ======================================================================================== */

/* Início da formatação home */

/* Fim da formatação home */

/* ======================================================================================== */

/* Início da formatação história */

.carousel-inner > .carousel-item > img {
  height: 360px;
  margin: auto;
  margin-bottom: 25px;
}

/* Fim da formatação história */

/* ======================================================================================== */

/* Início da formatação Século XXI */
h3 {
  text-transform: uppercase; /*  converter as letras para maiúsculas */
  font-size: 20pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(107, 46, 24);
  margin: 30px;
  padding-left: 3cm;
}

#linha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Realizar a quebra linha para os demais produtos que forem adicionados */
  /* Alinhar o conteúdo sem tirar o 'Flex' */
  justify-content: center;
  align-items: center;
}

#linha #produto {
  width: 40%;
  margin: 10px;
  display: flex; /* Determinar que o conteúdo do produto será flexível */
  flex-direction: row; /* Realizar a quebra de linhas para os demais produtos, que forem adicionados */
}

#linha #produto #imgprod,
#linha #produto #descricao {
  width: 48%;
  margin: 10px;
  transition: ease 0.25s;
}

#linha #produto #imgprod img {
  /* Fazer com que a imagem altere de tamanho de acordo com a página */
  width: 100%;
  height: 95%;
  border-radius: 10px;
  /*margin: 10px;*/
}

h4 {
  font-family: "Corbel";
  font-size: 20pt;
  margin: 10px;
}

h5 {
  font-family: "Corbel light";
  /*font-weight: lighter; /*Retirar o negrito*/
  margin: 10px;
}

h6 {
  font: "Arial Black";
  color: rgb(71, 71, 71);
  font-size: 12pt;
  margin: 10px;
}

#linha #produto:hover {
  background-color: lightsalmon;
  color: rgb(255, 241, 224);
  cursor: pointer;
}
/* Fim da formatação Século XXI */

/* ======================================================================================== */

/* Início da formatação dúvidas */
main form {
  width: 40%;
  border: 1px solid burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 5px /*X*/ 5px /*Y*/ 2px /*Efeito esfumaçado*/
    rgba(222, 184, 135, 0.719);
}

main form input,
main form select,
main form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /*Aumentar o espaço entre os elementos*/
  font-family: "Corbel Black";
  /*border: 0px; /*Retirar a borda entre cada um*/
  /*border-bottom: 1px solid sienna;*/
  outline: 0px; /*remover a borda quando se clica dentro dos elementos*/
}

main form input[type="tel"],
main form select {
  width: 49.6%;
}

main form textarea {
  height: 250px;
}

main form input[type="submit"] {
  /*position: relative;*/
  margin-left: 38%;
  /*margin-right: auto;*/
  width: 20%;
  background-color: rgb(172, 126, 42);
  color: rgb(255, 255, 255);
  border: 0px;
  transition: ease 0.3s;
}

main form input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(241, 191, 125);
  color: black;
}
/* Fim da formatação dúvidas */

/* ======================================================================================== */

/* Início da formatação sobre */
/* Fim da formatação sobre */

/* ======================================================================================== */
